{{!--
  ! Regular Button
  !
  ! Template of regular button
  !
  ! HANDLEBARS.JS version 4.7.7
  !
  ! @package    kzarshenas/crazyphp
  ! @author     kekefreedog <kevin.zarshenas@gmail.com>
  ! @copyright  2022-2022 Kévin Zarshenas
  !--}}

{{!-- A --}}
<a 
    {{!-- Classes --}}
    class="
        {{!-- Type : floating | extended --}}
        {{#isnt attributes.wave "extended"}}
            btn-{{@root.attributes.type}} 
        {{/isnt}}
        {{!-- Depth : flat | 1 | 2 | 3 | 4 | 5 --}}
        {{#is attributes.depth "flat"}}
            btn-flat
        {{else}}
            {{#is @root.attributes.depth "outlined"}}
                btn-flat btn-outlined
                {{#if @root.attributes.color-secondary}}
                    {{colorSuffix @root.attributes.color-secondary "border"}}
                {{/if}}
            {{else}}
                z-depth-{{{@root.attributes.depth}}}
            {{/is}}
        {{/is}}
        {{!-- Shape : round | box --}}
        {{#is attributes.shape "round"}}
            btn-{{@root.attributes.shape}}
        {{/is}}
        {{#is attributes.shape "box"}}
            btn-{{@root.attributes.shape}}
        {{/is}}
        {{!-- Size : small | normal | large  --}}
        btn-{{attributes.size}}
        {{#if attributes.wave}}
            {{#isnt attributes.wave "false"}}
                waves-effect 
                {{#is @root.attributes.wave "light"}}
                    waves-light
                {{/is}}
            {{/isnt}}
        {{/if}} 
        {{#if attributes.color-primary}}
            {{attributes.color-primary}}
        {{/if}}
        {{!-- Icon position --}}
        {{#is attributes.type "extended"}}
            icon-{{@root.attributes.icon-position}}
        {{/is}}
    "
>
    <i 
        class="
            {{attributes.icon-class}}
            {{#if attributes.color-secondary}}
                {{colorSuffix attributes.color-secondary "text"}}
            {{/if}}
            {{#is attributes.type "extended"}}
                {{@root.attributes.icon-position}}
            {{/is}}
        "
    >
        {{attributes.icon-text}}
    </i>
    {{#is attributes.type "extended"}}
        {{{@root.attributes.label}}}
    {{/is}}
</a>