{{!--
  ! Regular Button
  !
  ! Template of regular button
  !
  ! HANDLEBARS.JS version 4.7.7
  !
  ! @package    kzarshenas/crazyphp
  ! @author     kekefreedog <kevin.zarshenas@gmail.com>
  ! @copyright  2022-2024 Kévin Zarshenas
  !--}}

{{!-- A --}}
<a 
    {{!-- Classes --}}
    class="
        {{!-- Cursor --}}
        cursor-pointer
        {{!-- Type : floating | extended --}}
        {{#isnt attributes.wave "extended"}}
            btn-{{@root.attributes.type}} 
        {{/isnt}}
        {{!-- Depth : flat | 1 | 2 | 3 | 4 | 5 --}}
        {{#is attributes.depth "flat"}}
            btn-flat
        {{else}}
            {{#is @root.attributes.depth "outlined"}}
                btn-flat btn-outlined
                {{#if @root.attributes.color-secondary}}
                    {{colorSuffix @root.attributes.color-secondary "border"}}
                {{/if}}
            {{else}}
                z-depth-{{{@root.attributes.depth}}}
            {{/is}}
        {{/is}}
        {{!-- Shape : round | box --}}
        {{#is attributes.shape "round"}}
            btn-{{@root.attributes.shape}}
        {{/is}}
        {{#is attributes.shape "box"}}
            btn-{{@root.attributes.shape}}
        {{/is}}
        {{#is attributes.shape "round-left"}}
            btn-{{@root.attributes.shape}}
        {{/is}}
        {{#is attributes.shape "round-right"}}
            btn-{{@root.attributes.shape}}
        {{/is}}
        {{!-- Size : small | normal | large | extra-large  --}}
        btn-{{attributes.size}}
        {{#if attributes.wave}}
            {{#isnt attributes.wave "false"}}
                waves-effect 
                {{#is @root.attributes.wave "light"}}
                    waves-light
                {{/is}}
            {{/isnt}}
        {{/if}} 
        {{#if attributes.color-primary}}
            {{attributes.color-primary}}
        {{/if}}
        {{!-- Icon position --}}
        {{#is attributes.type "extended"}}
            icon-{{@root.attributes.icon-position}}
        {{/is}}
        {{!-- Text color if label --}}
        {{#if @root.attributes.label}}
            {{#if attributes.color-secondary}}
                {{colorSuffix attributes.color-secondary "text"}}
            {{/if}}
        {{/if}}
        {{!-- Pulse --}}
        {{#isnt attributes.pulse "false"}}
            pulse
        {{/isnt}}
    "
    {{!-- Href --}}
    {{#if attributes.href}}
    href="{{attributes.href}}"
    {{!-- Href --}}
    {{#if attributes.target}}target="{{attributes.target}}"{{/if}}
    {{/if}}
>{{#if attributes.icon-image}}
    <img alt="btn-image" src="{{attributes.icon-image}}" />
{{else}}
    <{{#if attributes.icon-class}}i{{else}}span{{/if}}
        class="
            {{attributes.icon-class}}
            {{#if attributes.color-secondary}}
                {{colorSuffix attributes.color-secondary "text"}}
            {{/if}}
            {{#is attributes.type "extended"}}
                {{@root.attributes.icon-position}}
            {{/is}}
        "
    >
        {{attributes.icon-text}}
    </{{#if attributes.icon-class}}i{{else}}span{{/if}}>
    {{#is attributes.type "extended"}}
        {{{@root.attributes.label}}}
    {{/is}}
{{/if}}</a>